@model object

@{
    ViewBag.Title = "Image Gallery";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<style>
    img {
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
        -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
        margin-bottom:20px;
    }

    img:hover {
        filter: none; /* IE6-9 */
        -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
 
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="https://s3.amazonaws.com/static-mywoodhome/wp-content/uploads/sites/5/2016/03/CBN-PA0414_1.jpg" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="https://www.kilimacamp.com/wp-content/uploads/2016/02/LD-Kilima-Camp-Masai-Mara-Fauna-Cheethacheetha4.jpg" /></div>

        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2015/anewlookatth.jpg" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://wallpapernature.net/wallpapers/1/green-grass-and-blue-sky-800x600.jpg" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="https://aquaworld.com.mx/wp-content/uploads/2014/09/Sky-Rider-Cancun2.jpg" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="https://i.pinimg.com/originals/5e/7a/82/5e7a82c48522f2aea0294c132b242fa7.jpg" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="https://c1.staticflickr.com/5/4127/5171563710_72e46475a5_b.jpg" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="https://thumbs-prod.si-cdn.com/2tYSEfVv9dJaIciVIar5RlcH-yw=/800x600/filters:no_upscale()/https://public-media.smithsonianmag.com/filer/5b/7a/5b7af6d1-cb60-40fe-bb4d-853c7ccbfd26/yellowstone.jpg" /></div>
    </div>
</div>